.table {
  background-color: var(--bg);
  color: var(--fg);
  /* Needed so that the header's borders align with our manually-managed borders. */
  border-collapse: separate;
  border-spacing: 0;
}

.header {
  background-color: var(--header-bg);
  color: var(--header-fg);
}

.header_cell {
  text-align: center;
  font-weight: bold;
  font-size: var(--header-cell-font-size);
  padding: var(--header-cell-padding-y) var(--header-cell-padding-x);
  border-style: solid;
  border-color: var(--header-header-border);
}

.header_cell.header_cell_focused {
  background: var(--header-cell-focused-bg);
  color: var(--header-cell-focused-fg);
}

.body_cell {
  padding: var(--body-cell-padding-y) var(--body-cell-padding-x);
  font-size: var(--body-cell-font-size);
}

/* Border widths */
.body_cell,
.header_cell {
  /* Top and right border values only */
  border-width: var(--body-border-width-y) var(--body-border-width-x) 0 0;
}

.header_cell:first-child,
.autosize_table_cell_wrapper:first-child .body_cell {
  border-left-width: var(--body-border-width-x);
}

.body_row:first-child .body_cell {
  /* We want to use the header's bottom border here. */
  border-top-width: 0;
}

.body_row:last-child .body_cell {
  border-bottom-width: var(--body-border-width-y);
}

.header_row:last-child .header_cell {
  border-bottom: var(--body-border-width-y) solid var(--header-body-border);
}

/* Border colors */
.body_cell {
  border-style: solid;
  border-color: var(--body-body-border);
}

.body_row_focused .body_cell {
  border-color: var(--row-focused-border);
}

.body_row_focused + .body_row .body_cell {
  border-top-color: var(--row-focused-border);
}

/* Backgrounds */
.body_row:nth-child(even) {
  background: var(--row-even-bg);
  color: var(--row-even-fg);
}

.body_row:nth-child(odd) {
  background: var(--row-odd-bg);
  color: var(--row-odd-fg);
}

.body_row.body_row_focused {
  background: var(--row-focused-bg);
  color: var(--row-focused-fg);
}

.body_cell.body_cell_focused {
  background: var(--cell-focused-bg);
  color: var(--cell-focused-fg);
}
